@charset "UTF-8";
@import "./modern-normalize.css"; /* black */
/* brand_color */
/* gray */
/* white */
/* black_lighter */
/* icon_color */
/* icon_color */
/* brand_color_hover */
/* white */
/* black */
/* brand_color_hover */
/* black_gray */
/* white_gray */
/* brand_color */
/* brand_color_hover */
.backdrop {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #40A3F8;
  opacity: 1;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 759px) {
  .modal {
    width: 90%;
  }
}
.modal__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.modal__close-icon {
  width: 30px;
  height: 30px;
  color: #000000;
}
.modal__close-icon:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #40A3F8;
}
.modal__close-icon:focus {
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #40A3F8;
}
.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 759px) {
  .modal__form {
    width: 100%;
  }
}
.modal__title {
  font-family: "Roboto", sans-serif;
  color: white;
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.modal__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal__li {
  position: relative;
}
.modal__lable {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 50px;
}
.modal__input {
  width: 100%;
  height: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.modal__input:focus {
  -webkit-transition: 300ms;
  transition: 300ms;
  outline: 1px solid #40A3F8;
}
.modal__input:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  outline: 1px solid #40A3F8;
}
.modal__input:focus + .modal__icon {
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #40A3F8;
}
.modal__input:hover + .modal__icon {
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #40A3F8;
}
.modal__bottom {
  margin-top: 20px;
}
.modal__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: -1px;
  left: 0;
  margin-top: 11px;
  margin-bottom: 11px;
  margin-left: 12px;
  color: #000000;
}
.modal__span {
  font-family: "Roboto", sans-serif;
  color: white;
  white-space: nowrap;
}
@media screen and (max-width: 759px) {
  .modal__span {
    white-space: wrap;
  }
}
.modal__link {
  font-family: "Roboto", sans-serif;
  line-height: 171.43%;
  letter-spacing: 0.42px;
  text-decoration: underline !important;
  color: black;
}
.modal__button {
  text-align: center;
}
.modal__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__send {
  border: 1px solid white;
  margin-top: 15px;
  border-radius: 4px;
  background: #40A3F8;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 187.5%;
  letter-spacing: 0.96px;
  cursor: pointer;
  padding: 10px 52px;
  text-align: center;
}
.modal__send:hover {
  color: #40A3F8;
  border: 1px solid #40A3F8;
  cursor: pointer;
  background: white;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.modal__send:focus {
  color: #40A3F8;
  border: 1px solid #40A3F8;
  cursor: pointer;
  background: white;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.modal__agree {
  margin-left: 8px;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .container {
    max-width: 800px;
  }
}
@media screen and (max-width: 759px) {
  .container {
    max-width: 400px;
  }
}
.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 759px) {
  .container__header {
    max-width: 400px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .container__header {
    max-width: 780px;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .container__header {
    max-width: 1200px;
  }
}

.header {
  padding-top: 29px;
  padding-bottom: 29px;
  background-color: transparent;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .header {
    padding: 9px 0;
  }
}
.header__logo {
  margin-right: auto;
  color: #40A3F8;
  font-family: "Rubik", sans-serif;
  font-size: 31.635px;
  font-style: normal;
  font-weight: 500;
  line-height: 148.57%;
  letter-spacing: 1px;
}
.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}
@media screen and (max-width: 759px) {
  .header__ul {
    display: none;
  }
}
.header__link {
  color: #6E5F5F;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  opacity: 0.3;
}
.header__link:hover {
  color: #40A3F8;
  opacity: 1;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.header__link:focus {
  color: #40A3F8;
  opacity: 1;
  -webkit-transition: 300ms;
  transition: 300ms;
}

/* mobile menu */
.mobile__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 100;
  cursor: pointer;
}
@media screen and (max-width: 479px) {
  .mobile__button {
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 759px) {
  .mobile__button {
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .mobile__button {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobile__button {
    display: none;
  }
}

.mobile__button-close,
.mobile__button-open {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile_button:hover .mobile__button-close, .mobile_button:focus .mobile__button-close,
.mobile_button:hover .mobile__button-open,
.mobile_button:focus .mobile__button-open {
  fill: #40A3F8;
}

.mobile__button-close {
  opacity: 0;
  display: none;
}

.mobile__button.is-open .mobile__button-close {
  opacity: 1;
  display: block;
}

.mobile__button.is-open .mobile__button-open {
  opacity: 0;
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  background: -webkit-gradient(linear, left top, left bottom, from(#AFEEEE), color-stop(#E0FFFF), to(#AFEEEE));
  background: linear-gradient(#AFEEEE, #E0FFFF, #AFEEEE);
  width: 100vh;
  top: 0;
  left: 0;
  padding: 48px 40px;
  z-index: 20;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .mobile {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobile {
    display: none;
  }
}

.mobile.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile__nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile__contacts-list {
  margin-bottom: 64px;
  margin-top: auto;
}

.mobile__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile__nav-link {
  color: #6E5F5F;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.mobile__nav-link:hover {
  color: #40A3F8;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.mobile__nav-link:focus {
  color: #40A3F8;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.mobile__contacts-link {
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.48px;
  color: var(--gray);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile__contacts-link:hover, .mobile__contacts-link:focus {
  color: #40A3F8;
}

.mobile__contacts-link--blue {
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0.68px;
  color: #40A3F8;
}

.mobile__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile__social-item:not(:last-child) {
  margin-right: 10px;
}

.mobile__social-item:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 100%;
  margin-left: 10px;
  background-color: rgba(33, 33, 33, 0.2);
  display: block;
}

.mobile__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.36px;
  color: #40A3F8;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 170px;
  background: -webkit-gradient(linear, left top, left bottom, from(LightCyan), color-stop(Snow), to(#AFEEEE));
  background: linear-gradient(LightCyan, Snow, #AFEEEE);
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .hero {
    padding-top: 100px;
    padding-bottom: 35px;
  }
}
@media screen and (max-width: 759px) {
  .hero {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.hero__logo {
  max-width: 685px;
  margin-bottom: 31px;
  z-index: 2;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .hero__logo {
    font-size: 35px;
    max-width: 770px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 759px) {
  .hero__logo {
    font-size: 30px;
    max-width: 1000px;
  }
}
.hero__logo_black {
  color: #3E3E3E;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 145.833%;
}
.hero__logo_blue {
  color: #40A3F8;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 145.833%;
}
.hero__p {
  max-width: 460px;
  color: rgba(117, 117, 117, 0.46);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 50px;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .hero__p {
    margin-bottom: 30px;
  }
}
.hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #40A3F8;
  border-radius: 4px;
  background: #40A3F8;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 187.5%;
  letter-spacing: 0.96px;
  cursor: pointer;
  padding: 10px 24px;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.hero__button:hover {
  background: white;
  color: #40A3F8;
  border: 1px solid #40A3F8;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.hero__button:focus {
  background: white;
  color: #40A3F8;
  border: 1px solid #40A3F8;
  -webkit-transition: 200ms;
  transition: 200ms;
}
@media screen and (max-width: 759px) {
  .hero__button {
    margin: auto;
  }
}
.hero__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__img {
  position: inherit;
  z-index: 1;
  left: 0;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .hero__img {
    left: 30px;
    bottom: -195px;
  }
}
.hero__back {
  position: absolute;
  top: -70px;
  right: 20px;
  z-index: 0;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .hero__back {
    left: 60px;
    top: 80px;
  }
}
.hero__pos {
  position: relative;
}
@media screen and (max-width: 759px) {
  .hero__pos {
    display: none;
  }
}
.hero__svg1 {
  position: absolute;
  right: 475px;
  top: 0;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  -webkit-box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.05);
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .hero__svg1 {
    right: 280px;
    top: 120px;
    width: 50px;
  }
}
.hero__svg2 {
  position: absolute;
  background-color: white;
  top: 200px;
  right: 540px;
  border-radius: 50%;
  padding: 10px;
  -webkit-box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.05);
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .hero__svg2 {
    top: 270px;
    right: 350px;
    width: 50px;
  }
}
.hero__svg3 {
  position: absolute;
  top: 0;
  right: 65px;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  -webkit-box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.05);
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .hero__svg3 {
    right: -10px;
    top: 115px;
    width: 50px;
  }
}
.hero__doc {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.05);
  padding: 10px 20px;
  border-radius: 10px;
  gap: 10px;
  bottom: 60px;
  left: 110px;
  z-index: 2;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .hero__doc {
    bottom: -140px;
    left: 50px;
    width: 145px;
  }
}
.hero__pictures:not(:last-child) {
  margin-bottom: 8px;
}
.hero__ulheart {
  position: absolute;
  right: 0;
  top: 270px;
  background-color: white;
  border-radius: 10px;
  padding: 10px 26px;
  z-index: 2;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .hero__ulheart {
    top: 350px;
    right: -70px;
    padding: 10px 20px;
  }
}
.hero__imgheart {
  margin-left: 30px;
}
.hero__pheart {
  color: rgba(61, 61, 63, 0.56);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
}
.hero__para {
  color: #3D3D3F;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.48px;
  text-align: center;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .hero__back {
    width: 465px;
  }
}

.work {
  background-color: #ABD8FF, rgba(113, 255, 221, 0.6509803922);
  text-align: left;
  padding-top: 70px;
  padding-bottom: 70px;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .work {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
.work__title {
  color: #3E3E3E;
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 166.667%;
  text-align: center;
  margin-bottom: 50px;
}
.work__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 105px;
}
@media screen and (max-width: 759px) {
  .work__ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
.work__list {
  text-align: center;
}
.work__h2 {
  color: #3D3D3F;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin-bottom: 15px;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .work__h2 {
    text-wrap: nowrap;
    margin-bottom: 10px;
  }
}
.work__p {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .work__p {
    max-width: 200px;
  }
}
.work__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.work__pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px;
  border-radius: 50%;
}

.service {
  padding-top: 120px;
  padding-bottom: 120px;
}
.service__title {
  color: var(--textv-2, #3D3D3F);
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.84px;
  text-align: center;
  margin-bottom: 24px;
}
.service__description {
  color: rgba(61, 61, 63, 0.7);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.36px;
  margin-bottom: 74px;
}
.service__slaider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 65px;
}
.service__h2 {
  color: var(--textv-2, #3D3D3F);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 166.667%;
  margin-bottom: 23px;
}
.service__p {
  color: #999;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 157.143%;
  max-width: 225px;
}
.service__list {
  width: unset !important;
  height: auto !important;
  padding: 50px;
  border-radius: 10px;
  background: #FFF;
  -webkit-box-shadow: 0px 4px 120px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 120px 0px rgba(0, 0, 0, 0.05);
}
.service__img {
  margin: auto;
  margin-bottom: 19px;
}

.specialist {
  padding-top: 50px;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .specialist {
    padding-top: 30px;
  }
}
.specialist__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.specialist__right {
  margin-left: 110px;
}
@media screen and (max-width: 759px) {
  .specialist__right {
    margin-left: 0;
  }
}
.specialist__left {
  position: relative;
  padding-right: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(65%, #40A3F8));
  background-image: linear-gradient(transparent 50%, #40A3F8 65%);
  border-radius: 35%;
}
@media screen and (max-width: 759px) {
  .specialist__left {
    display: none;
  }
}
.specialist__title {
  max-width: 494px;
  color: #3D3D3F;
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.84px;
  margin-bottom: 24px;
}
@media screen and (max-width: 759px) {
  .specialist__title {
    font-size: 40px;
  }
}
.specialist__p {
  max-width: 507px;
  color: rgba(61, 61, 63, 0.7);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.36px;
  margin-bottom: 14px;
}
.specialist__decoration {
  color: #3D3D3F;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 187.5%;
  letter-spacing: 0.32px;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .specialist__decoration {
    max-width: 200px;
  }
}
@media screen and (max-width: 759px) {
  .specialist__decoration {
    max-width: 300px;
  }
}
.specialist__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
}
.specialist__icons:not(:last-child) {
  margin-bottom: 14px;
}
.specialist__imgdr {
  background-color: #FFE4C4;
  border-radius: 50%;
}
.specialist__dr {
  position: absolute;
  top: 260px;
  padding: 20px 16px;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.04);
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .specialist__dr {
    top: 300px;
    left: 30px;
  }
}
.specialist__uldrtop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.specialist__titledr {
  color: #3D3D3F;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.specialist__pdr {
  color: rgba(61, 61, 63, 0.4);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.specialist__uldr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  text-align: center;
}
.specialist__ptop {
  color: #A0A2B3;
  font-family: "SF Pro", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;
  margin-bottom: 5px;
}
.specialist__pbottom {
  color: #636481;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 10px;
}
.specialist__city {
  color: #3D3D3F;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;
}
.specialist__lii {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}
.specialist__woman {
  position: absolute;
  top: 130px;
  right: 0px;
  width: 230px;
  background-color: white;
  padding: 13px 15px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.05);
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .specialist__woman {
    top: 50px;
    right: -65px;
    width: 205px;
  }
}
.specialist__ulw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.specialist__liw {
  margin-top: 5px;
}
.specialist__img:not(:last-child) {
  margin-bottom: 10px;
}
.specialist__love {
  position: absolute;
  top: -45px;
  right: 80px;
}
.specialist__elips {
  position: absolute;
  top: 100px;
  left: 50px;
  z-index: -1;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .specialist__elips {
    top: 50px;
    left: 25px;
  }
}

.team {
  padding-bottom: 94px;
}
.team__div {
  padding: 20px;
}
.team__our {
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.84px;
  text-align: center;
  margin-bottom: 47px;
}
.team__p {
  color: rgba(61, 61, 63, 0.7);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.36px;
  margin-bottom: 69px;
}
@media screen and (max-width: 759px) {
  .team__p {
    margin-bottom: 50px;
  }
}
.team__pictures {
  width: 250px;
  height: 365px;
  border-radius: 10px;
  margin: 10px;
}
.team__people {
  border-radius: 10px;
  border: 1px solid #EEEFF1;
  background: linear-gradient(139deg, rgba(254, 254, 254, 0) -2.44%, #F9F9F9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%);
  -webkit-box-shadow: 0px 4px 120px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 120px 0px rgba(0, 0, 0, 0.05);
}
.team__title {
  color: #212121;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 166.667%;
}
.team__description {
  color: #999;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 157.143%;
  margin-bottom: 17px;
}
.team__link {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  gap: 10px;
  border-radius: 50%;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.team__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.apps {
  padding-bottom: 120px;
}
.apps__title {
  color: #3D3D3F;
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.857%;
  letter-spacing: 0.84px;
  max-width: 500px;
  height: 118px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .apps__title {
    font-size: 34px;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 759px) {
  .apps__title {
    font-size: 35px;
    margin-bottom: 70px;
  }
}
.apps__p {
  color: rgba(61, 61, 63, 0.7);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 166.667%;
  letter-spacing: 0.36px;
  margin-bottom: 30px;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .apps__p {
    font-size: 15px;
  }
}
@media screen and (max-width: 759px) {
  .apps__list-left {
    display: none;
  }
}
.apps__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.apps__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.apps__pictures {
  position: relative;
}
.apps__imeg {
  position: absolute;
  left: 218px;
  bottom: 150px;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .apps__imeg {
    width: 115px;
    left: 165px;
    bottom: 118px;
  }
}
.apps__link {
  opacity: 0.6;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.apps__link:hover {
  opacity: 1;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.apps__link:focus {
  opacity: 1;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.comment {
  margin-bottom: 120px;
}
.comment__ul {
  height: auto !important;
  background-color: white;
  border-radius: 10px;
  padding: 22px 30px;
  -webkit-box-shadow: 0px 4px 120px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 120px 0px rgba(0, 0, 0, 0.05);
}
.comment__img {
  margin: auto;
  border-radius: 50%;
  margin-bottom: 5px;
}
.comment__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.comment__star {
  width: 70px;
}
.comment__city {
  color: #47C2FF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 178.571%;
  margin-bottom: 10px;
}
.comment__name {
  color: #3D3D3F;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.comment__text {
  color: #454D5D;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 156.25%;
}

.time {
  margin-bottom: 72px;
}
.time__ul {
  background-image: url(../images/back_time1.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 12px;
  background-color: #40A3F8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.time__back {
  width: auto;
}
@media screen and (max-width: 759px) {
  .time__paragraf {
    padding: 40px;
  }
}
.time__title {
  max-width: 400px;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-left: 100px;
  margin-bottom: 20px;
}
@media screen and (max-width: 759px) {
  .time__title {
    margin: 0;
    margin-bottom: 20px;
  }
}
.time__button {
  border: 1px solid #40A3F8;
  border-radius: 4px;
  background: white;
  color: #40A3F8;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 187.5%;
  letter-spacing: 0.96px;
  cursor: pointer;
  padding: 10px 13px;
  margin-left: 100px;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.time__button:hover {
  background-color: #40A3F8;
  color: white;
  border: 1px solid white;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.time__button:focus {
  background-color: #40A3F8;
  color: white;
  border: 1px solid white;
  -webkit-transition: 200ms;
  transition: 200ms;
}
@media screen and (max-width: 759px) {
  .time__button {
    margin: 0;
  }
}
@media screen and (max-width: 759px) {
  .time__foto {
    display: none;
  }
}

.footer {
  background-color: white;
}
.footer__flex {
  padding-top: 34px;
  padding-bottom: 30px;
  gap: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .footer__flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
}
@media screen and (max-width: 759px) {
  .footer__flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.footer__logo {
  color: #40A3F8;
  font-family: "Rubik", sans-serif;
  font-size: 31.635px;
  font-style: normal;
  font-weight: 500;
  line-height: 148.57%;
  letter-spacing: 1px;
}
.footer__nav {
  color: #646464;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}
.footer__list {
  margin-bottom: 16px;
}
.footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.footer__link {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #646464;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.footer__title {
  color: #323232;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 15px;
}
.footer__nav {
  text-wrap: nowrap;
  color: #646464;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.footer__nav:hover {
  color: #40A3F8;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.footer__nav:focus {
  color: #40A3F8;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.footer__nav:not(:last-child) {
  margin-bottom: 16px;
}
.footer__li {
  max-width: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__a {
  color: #646464;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.footer__a:not(:last-child) {
  margin-bottom: 24px;
}
.footer__a:hover {
  color: #40A3F8;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.footer__a:focus {
  color: #40A3F8;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.footer__sub {
  max-width: 277px;
  color: #646464;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  margin-bottom: 14px;
}
.footer__input {
  border-radius: 5px;
  border: 1.1px solid #E1E2E4;
  background: #FFF;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 93px;
  margin-bottom: 12px;
}
.footer__input:focus {
  outline: 1px solid #E1E2E4;
}
.footer__input:hover {
  border: 1.1px solid #E1E2E4;
}
.footer__button {
  border: 1px solid #40A3F8;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  cursor: pointer;
  background-color: #40A3F8;
  border-radius: 5px;
  border: 1.1px solid #E1E2E4;
  padding: 12px 115px;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.footer__button:hover {
  background-color: white;
  color: #40A3F8;
  -webkit-transition: 200ms;
  transition: 200ms;
  border: 1px solid #40A3F8;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  margin-right: 16px;
  margin-bottom: 36px;
}
.footer__copyright {
  color: #646464;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.footer__linkcopy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 53px;
}
@media screen and (max-width: 759px) {
  .footer__linkcopy {
    gap: 20px;
  }
}
.footer__copylink {
  color: #646464;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, a, h1, h2, h3, h4, p, address {
  list-style: none;
  text-decoration: none;
  font-style: normal;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
}

.body {
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(LightCyan), color-stop(Snow), color-stop(LightCyan), color-stop(Snow), to(LightCyan));
  background: linear-gradient(LightCyan, Snow, LightCyan, Snow, LightCyan);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  gap: 30px;
  min-width: 0;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 759px) {
  .flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.swiper {
  background-color: transparent;
}

.button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.button-next {
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1DA1F2;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.button-next:hover {
  background-color: white;
  color: #1DA1F2;
  -webkit-transition: 300ms;
  transition: 300ms;
  border: 1px solid #1DA1F2;
}

.button-prev {
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1DA1F2;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.button-prev:hover {
  background-color: white;
  color: #1DA1F2;
  -webkit-transition: 300ms;
  transition: 300ms;
  border: 1px solid #1DA1F2;
}

.search {
  background-color: rgba(56, 175, 255, 0.1);
}

.calendar {
  background-color: rgba(255, 180, 26, 0.12);
}

.med-kid {
  background-color: rgba(99, 203, 254, 0.65);
}

.facebook {
  background-color: #4D77CF;
}

.X {
  background-color: #1DA1F2;
}

.linkedin {
  background-color: #0077B5;
}

.input__comment {
  resize: none;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  width: 100%;
  min-height: 120px;
  padding: 11px 12px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.input__comment:focus {
  -webkit-transition: 300ms;
  transition: 300ms;
  outline: 1px solid #40A3F8;
}
.input__comment:hover {
  -webkit-transition: 300ms;
  transition: 300ms;
  outline: 1px solid #40A3F8;
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: black 1px solid;
  height: 15px;
  width: 16px;
  border-radius: 2px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
@media screen and (max-width: 759px) {
  input[type=checkbox] {
    min-width: 16px;
  }
}
input[type=checkbox]:checked {
  background: white;
  border: none;
  color: #40A3F8;
}
input[type=checkbox]:checked::before {
  content: "✔";
  color: #40A3F8;
  margin-left: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -2px;
  border: none;
}

html {
  scroll-behavior: smooth;
}