.container{
    max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	@include desktop {
		max-width: 1200px;
	  }
	  @include tablet {
		max-width: 800px;
	  }
	  @include mobile {
		max-width: 400px;
	  }
	&__header{
		display: flex;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 15px;
		align-items: center;
		@include mobile {
			max-width: 400px;
			justify-content: space-between;
			}
			@include tablet {
				max-width: 780px;
				padding: 0;
			}
			@include desktop {
			max-width: 1200px;
			}
	}
}