@import "./modern-normalize.css";
@import "./warp.scss";
@import "./mixin.scss";
@import "./main/modal.scss";
@import "./container.scss";
@import "./main/header.scss";
@import "./main/hero.scss";
@import "./main/work.scss";
@import "./main/service.scss";
@import "./main/specialist.scss";
@import "./main/team.scss";
@import "./main/apps.scss";
@import "./main/comment.scss";
@import "./main/time.scss";
@import "./main/footer.scss";

* {
	box-sizing: border-box;

&::before {
	box-sizing: border-box;
}
&::after {
	box-sizing: border-box;
}
}
ul, a, h1, h2, h3, h4, p, address{
    list-style: none;
    text-decoration: none;
    font-style: normal;
    padding: 0px;
    margin: 0px;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
button{
	border: none;
}
.body{
	margin: 0;
    background: linear-gradient(LightCyan,Snow,LightCyan ,Snow, LightCyan);
}
.flex{
    display: flex;
	justify-content: space-between;
	margin: 0 auto;
	gap: 30px;
	min-width: 0;
	@include tablet{
		flex-wrap: wrap;
		justify-content: center
	}
	@include mobile{
		flex-wrap: wrap;
		justify-content: center
	}
}
.swiper{
	background-color: transparent;
}
.button_container{
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 10px;
}
.swiper-wrapper{
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
}
.button-next{
	border: 1px solid transparent; 
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1DA1F2;
	color: white;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	transition: 300ms;
	&:hover{
		background-color: white;
		color: #1DA1F2;
		transition: 300ms;
		border: 1px solid #1DA1F2;
	}
}
.button-prev{
	border: 1px solid transparent; 
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1DA1F2;
	color: white;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	transition: 300ms;
	&:hover{
		background-color: white;
		color: #1DA1F2;
		transition: 300ms;
		border: 1px solid #1DA1F2;
	}
}
.search{
    background-color: rgba(56, 175, 255, 0.10);
}
.calendar{
    background-color: rgba(255, 180, 26, 0.12);
}
.med-kid{
    background-color: rgba(99, 203, 254, 0.65);
}
.facebook{
    background-color: #4D77CF;
}
.X{
    background-color: #1DA1F2;
}
.linkedin{
    background-color: #0077B5;
}

.input__comment {
	resize: none;
	font-family: $font-family_4;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.12px;
	width: 100%;
	min-height: 120px;
	padding: 11px 12px;
	margin-top: 4px;
	border-radius: 4px;
	border: 1px solid rgba(33, 33, 33, 0.20);
	&:focus {
		transition: 300ms;
		outline: 1px solid $color_2;
	}
	&:hover {
		transition: 300ms;
		outline: 1px solid $color_2;
	}
}
input[type="checkbox"] {
	appearance: none;
	border: black 1px solid;
	height: 15px;
	width: 16px;
	border-radius: 2px;
	transition-duration: 0.3s;
	@include mobile{
		min-width: 16px;
	}
	&:checked {
		background: white;
		border: none;
		color: #40A3F8;
		&::before {
			content: "✔";
			color: #40A3F8;
			margin-left: 3px;
			display: flex;
			margin-top: -2px;
			border: none;
		}
	}
}
html{
	scroll-behavior: smooth;
}
