.apps{
    padding-bottom: 120px;
    &__title{
        color: #3D3D3F;
        font-family: 'Roboto', sans-serif;
        font-size: 42px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.857%;
        letter-spacing: 0.84px;
        max-width: 500px;
        height: 118px;
        flex-shrink: 0;;
        margin-bottom: 30px;
        margin-top: 150px;
    }
    &__p{
        color: rgba(61, 61, 63, 0.70);
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 166.667%;
        letter-spacing: 0.36px;
        margin-bottom: 30px;
    }
    &__ul{
        display: flex;
    }
    &__svg{
        display: flex;
        gap: 13px;
        align-items: center;
    }
    &__pictures{
        position: relative;
    }
    &__imeg{
        position: absolute;
        left: 218px;
        bottom: 150px;
    }
    &__link{
        opacity: 0.6;
        transition: 200ms;
        &:hover{
            opacity: 1;
            transition: 200ms;
        }
        &:focus{
            opacity: 1;
            transition: 200ms;
        }
    }
}