.hero{
    @include tablet{
        padding-top: 100px;
        padding-bottom: 35px;
    }
    @include mobile{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    display: flex;
    padding-top: 170px;
    background: linear-gradient(LightCyan,Snow, LightCyan);
    &__logo{
        max-width: 685px;
        margin-bottom: 31px;
        z-index: 2;
        @include tablet{
            font-size: 35px;
            max-width: 770px;
            margin-bottom: 15px;
        }
        @include mobile{
            font-size: 30px;
            max-width: 1000px;
        }
    }
    &__logo_black{
        color: #3E3E3E;
        font-family: 'Roboto',sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 145.833%;
    }
    &__logo_blue{
        color: #40A3F8;
        font-family: 'Roboto', sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 145.833%;
    }
    &__p{
        max-width: 460px;
        color: rgba(117, 117, 117, 0.46);
        font-family: 'Roboto';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 50px;
        @include tablet{
            margin-bottom: 30px;   
           }
    }
    &__button{
        display: flex;
        border: 1px solid #40A3F8;
        border-radius: 4px;
        background: #40A3F8;
        color: $color_4;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 187.5%;
        letter-spacing: 0.96px;
        cursor: pointer;
        padding: 10px 24px;
        transition: 200ms;
        &:hover {
            background: white;
            color: #40A3F8;
            border: 1px solid #40A3F8;
            transition: 200ms;
        }
        &:focus {
            background: white;
            color: #40A3F8;
            border: 1px solid #40A3F8;
            transition: 200ms;
	    }
        @include mobile{
            margin: auto;
           
        }
    }
    &__ul{
        display: flex;
    }
    &__img{
        position: inherit;
        z-index: 1;
        left: 0;
        @include tablet{
            left: 30px;
            bottom: -195px;
        }
    }
    &__back{
        position: absolute;
        top: -70px;
        right: 20px;
        z-index: 0;
        @include tablet{
            left: 60px;
            top: 80px;
        }
    }
    &__pos{
        position: relative;
        @include mobile{
            display: none;
        }
    }
    &__svg1{
        position: absolute;
        right: 475px;
        top: 0;
        background-color: white;
        border-radius: 50%;
        padding: 10px;
        box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.05);
        @include tablet{
            right: 280px;
            top: 120px;
            width: 50px;
        }
    }
    &__svg2{
        position: absolute;
        background-color: white;
        top: 200px;
        right: 540px;
        border-radius: 50%;
        padding: 10px;
        box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.05);
        @include tablet{
            top: 270px;
            right: 350px;
            width: 50px;
        }
    }
    &__svg3{
        position: absolute;
        top: 0;
        right: 65px;
        background-color: white;
        border-radius: 50%;
        padding: 10px;
        box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.05);
        @include tablet{
            right: -10px;
            top: 115px;
            width: 50px;
        }
    }
    &__doc{
        position: absolute;
        display: flex;
        background-color: white;
        box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.05);
        padding: 10px 20px;
        border-radius: 10px;
        gap: 10px;
        bottom: 60px;
        left: 110px;
        z-index: 2;
        @include tablet{
            bottom: -140px;
            left: 50px;
            width: 145px;
        }
    }
    &__pictures:not(:last-child){
        margin-bottom: 8px;
    }
    &__ulheart{
        position: absolute;
        right: 0;
        top: 270px;
        background-color: white;
        border-radius: 10px;
        padding: 10px 26px;
        z-index: 2;
        @include tablet{
            top: 350px; 
            right: -70px;
            padding: 10px 20px;
        }
    }
    &__imgheart{
        margin-left: 30px;
    }
    &__pheart{
        color: rgba(61, 61, 63, 0.56);
        font-family: 'Poppins',sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.28px;
    }
    &__para{
        color: #3D3D3F;
        font-family: 'Poppins',sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.48px;
        text-align: center;
    }
    &__back{
        @include tablet{
            width: 465px;
        }
    }
}