.hero{
    display: flex;
    margin-top: 170px;
    margin-bottom: 72px;
    &__logo{
        max-width: 660px;
        margin-bottom: 31px;
    }
    &__logo_black{
        color: #3E3E3E;
        font-family: 'Roboto',sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 145.833%;
    }
    &__logo_blue{
        color: #40A3F8;
        font-family: 'Roboto', sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 145.833%;
    }
    &__p{
        max-width: 460px;
        color: rgba(117, 117, 117, 0.46);
        font-family: 'Roboto';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 50px;
    }
    &__button{
        border-radius: 4px;
        background: #40A3F8;
        color: $color_4;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 187.5%;
        letter-spacing: 0.96px;
        cursor: pointer;
        padding: 10px 24px;
        &:hover {
            background: #188CE8;
            transition: 300ms;
        }
        &:focus {
            background: #188CE8;
            transition: 300ms;
	}
    }
    &__ul{
        display: flex;
    }
    &__pos{
        position: relative;
        background-image: url(/images/back_шлюха.png);
        background-repeat: no-repeat;
    }
    &__svg1{
        position: absolute;
        right: 500px;
        top: 50px;
        background-color: white;
        border-radius: 50%;
        padding: 10px;
        box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.05);
    }
    &__svg2{
        position: absolute;
        background-color: white;
        top: 200px;
        right: 600px;
        border-radius: 50%;
        padding: 10px;
        box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.05);
    }
    &__svg3{
        position: absolute;
        top: 50px;
        right: 20px;
        background-color: white;
        border-radius: 50%;
        padding: 10px;
        box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.05);
    }
    &__doc{
        position: absolute;
        display: flex;
        background-color: white;
        box-shadow: 0px 4px 22px 0px rgba(0, 0, 0, 0.05);
        padding: 10px 20px;
        border-radius: 10px;
        gap: 10px;
        bottom: 100px;
    }
    &__pictures:not(:last-child){
        margin-bottom: 8px;
    }
}