
.lock{
    height: 100%;
    overflow: hidden;
}

.section {
    &_menu {
        position: fixed;
        background-color: white;
        height: 100%;
        width: 100%;
        z-index: 998;
        left: -100%;
        top: 0;
        transition: 300ms ease-in;
    }
}
header{
    position: relative;
}
.menu {
    background: linear-gradient(LightCyan, PaleTurquoise, Aquamarine);
    padding: 25px;  
    z-index: 5;
    transition: 500ms all ;
    &_active{
        position: fixed;
        height: 80%;
        width: 100%;
        z-index: 990;
        left: 0;
        top: 0;
        transition: 500ms ease-in;
        & *{
            display: inherit;
        }
    }
    &__logo {
        margin: auto;
        margin-top: 20%;
        width: 80%;
        height: auto;
    }

    &__list {
        padding-top: 64px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        font-size: 48px;
        color: #40A3F8;
    }
    &__li{
        border-bottom: 2px solid transparent;
        border-radius: 3px;
        text-transform: capitalize;
        transition: 250ms ease-in;
        & a{
            width: 100%;
            justify-content: center;
        }

        &:hover,
        &:focus{
            border-bottom: 2px solid #40A3F8;
            border-radius: 3px;
        }
    }
    &__link{
        color: #40A3F8;
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        transition: 200ms;
        text-align: center;
    }

}

.burger{
    background: transparent;
    display: none;
    position: relative;
    width: 40px;
    height: 30px;
    margin-left:auto;
    z-index: 9999;
    @media (max-width:759.9px){
        display: block;
}
    &::before,
    &::after{
        content: "";
        position: absolute;
        right: 0;
        width: 100%;
        height: 2px;
        background-color: #40A3F8;
    }
    &::after{
        bottom: 0;
    }
    &:before{
        top: 0;
    }
    &::after,
    &::before{
        transform: rotate(180deg);
        transition-duration: 500ms !important;
    }
    & span{
        position: absolute;
        background-color: transparent;
    }
    &_close{
        cursor: pointer;
        position: absolute;
        top: 25px;
        right: 35px;  
        z-index: 9999;          
    }
    &_opened{
        cursor: pointer;
        &::before{
            top: 50%;
            transform: rotate(-45deg);
            transition-duration: 1000ms !important;
        }
        &::after{
            top: 50%;
            transform: rotate(45deg);
            transition-duration: 1000ms !important;
        }             
    }
}
