.work{
    background-color: #ABD8FF, #71FFDDA6;
    text-align: left;
    padding-top: 70px;
    padding-bottom: 70px;
    @include tablet{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    &__title{
        color: #3E3E3E;
        font-family: 'Roboto', sans-serif;
        font-size: 42px;
        font-style: normal;
        font-weight: 500;
        line-height: 166.667%;
        text-align: center;
        margin-bottom: 50px;
    }
    &__ul{
        display: flex;
        gap: 105px;
        @include mobile{
            flex-wrap: wrap;
            gap: 30px;
        }
    }
    &__list{
        text-align: center;
    }
    &__h2{
        color: #3D3D3F;
        font-family: 'Roboto',sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        margin-bottom: 15px;
        @include tablet{
            text-wrap: nowrap;
            margin-bottom: 10px;
        }
    }
    &__p{
        color: rgba(0, 0, 0, 0.50);
        text-align: center;
        font-family: 'Roboto',sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 166.667%;
        @include tablet{
            max-width: 200px;
        }
    }
    &__img{
        display: flex;
        justify-content: center;
    }
    &__pictures{
        display: flex;
        padding: 16px;
        border-radius: 50%;
    }
}